<!DOCTYPE html> 
<html> 
<head> 
    <title>My Page</title> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

    <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet" href="/stylesheets/htchr.css" />
    <script src="/javascripts/jquery-1.8.2.min.js"></script>
    <script src="/javascripts/jquery.mobile-1.2.0.min.js"></script>
    <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/icanhaz.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDG2T7EFLq_lT1Vq7TZ7uwPHNh6J-q2FOw&libraries=places&sensor=false"></script>
    <script type="text/javascript" src="/javascripts/htchr.js"></script>


    <style type="text/css">
        #errorPopup{
            max-width: 400px;
            min-width: 300px;
        }
        #sorry{
            width: 100%
        }
    </style>
</head> 
<body> 

<!-- New Event -->
<div id="newEventPage" data-role="page">

    <div data-role="header">
        <h1>Lets do something.</h1>
    </div><!-- /header -->

    <div data-role="content">   
                <div data-role="fieldcontain">
                    <label for="eventName">Event Name:<br/><br/></label>
                    <input id="eventName" type="text" data-theme="b"/>
                </div>
                
                <div data-role="fieldcontain">
                    <label for="eventLoc">Location:<br/><br/></label>
                    <input id="eventLoc" type="text" data-theme="b"/>
                </div>

                <div data-role="fieldcontain">
                    <label for="eventDate">Date:<br/><br/></label>
                    <input id="eventDate" type="date" data-theme="b"/>
                </div>

                <div data-role="fieldcontain">
                    <label for="eventTime">Time:<br/><br/></label>
                    <input id="eventTime" type="time" data-theme="b"/>
                </div>

                <div data-role="fieldcontain">
                    <label for="eventPrivate">Private Event:</label>
                    <select id="eventPrivate" data-role="slider" data-theme="b">
                        <option value="off">Off</option>
                        <option value="on">On</option>
                    </select> 
                </div>

                <button id="submitEvent" type="submit" data-theme="b">Lets do it</button>

            
    </div><!-- /content -->

    <div data-id="footNav" data-role="footer" data-position="fixed">        
        <div data-role="navbar" data-iconpos="top">
            <ul>
                <li><a href="/events/feed" data-icon="home"  data-prefetch="true">Feed</a></li>
                <li><a href="/events/new" data-icon="Plus" class="ui-btn-active ui-state-persist"  data-prefetch="true">New Event</a></li>
            </ul>
        </div><!-- /navbar -->
    </div><!-- /footer -->

    <div id="errorPopup" data-role="popup" >
        <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-b" role="banner">
            <h1 class="ui-title" role="heading" aria-level="1">Hang on...</h1>
        </div>
        <div class="ui-content">
            <h3>Can you please</h3>
            <ul id="problems"></ul>
            <span id="sorry">
                <a href="#" id="sorry" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-hover-a ui-btn-up-a"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Yeah, sorry.</span></span></a>
            </span>
        </div>
    </div><!-- /popup -->

    <div id="successPopup" data-role="popup" >
        <div data-role="header" data-theme="a" class="ui-corner-top ui-header ui-bar-b" role="banner">
            <h1 class="ui-title" role="heading" aria-level="1">Decent.</h1>
        </div>
        <div class="ui-content">
            <h3>Your event was planned.</h3>
            <span id="sorry">
                <a href="#" id="sorry" data-role="button" data-inline="true" data-rel="back" data-transition="flow" data-theme="a" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-shadow ui-btn-corner-all ui-btn-inline ui-btn-hover-a ui-btn-up-a"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">Nice.</span></span></a>
            </span>
        </div>
    </div><!-- /popup -->

</div><!-- /page -->



<!-- Scripts -->


</body>
</html>