<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <% if (user) { %>
      <h2>ID: <%= user %></h2>
    <% } else { %>
      <a href="/login">Log in</a>
    <% } %>
  </body>
</html>