<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title></title>

    <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet"> 

    <link href="stylesheets/bootstrap_landing.min.css" rel="stylesheet">

    <link href="stylesheets/landingStyles.css" rel="stylesheet">    

</head>
<body>

    <div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
        <div id="title">
          <h3 class="muted">Htchr</h3>
        </div>
      </div>

      <div class="hr"></div>

      <div class="jumbotron">
        <h2>Never plan again!</h2>
        <p class="lead">Coordinate with groups of friends.
        <br>
        See what everyone is doing.</p>
        <a class="btn btn-large btn-primary" href="/auth/facebook">Login With Facebook</a>
      </div>

      <div class="hr"></div>

      <div class="row-fluid marketing">
        <div class="span12">
          <h4>Facebook-Integrated</h4>
          <p>Login directly to Facebook and see all your events together in one place, whether created with Htchr or Facebook!</p>

          <h4>News Feed</h4>
          <p>See live updates of events going on around you!</p>

          <h4>Find Events</h4>
          <p>Rather than having to plan everything yourself, htchr makes it easy to similar events around you!</p>

          <h4>Planning Made Easy</h4>
          <p>Select who to invite, and prevent others from seeing your plans with the click of a button</p>

          <h4>Drivers</h4>
          <p>Figure out ahead of time who will be piloting the roads for your group!</p>

        </div>
      </div>

      <hr>

      <div class="footer">
        <p>&copy; Htchr 237</p>
      </div>

    </div> <!-- /container -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/bootstrap.js"></script>    
</body>
</html>