<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <title>htchr - Go forth and conquer</title>

  <link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet"> 
  <link href="stylesheets/bootstrap_landing.min.css" rel="stylesheet">
  <link href="stylesheets/landingStyles.css" rel="stylesheet">    

</head>
<body>

<div class="container-narrow">

  <div class="masthead">
    <div id="title">
      <h3 class="muted">htchr</h3>
    </div>
  </div>

  <div class="hr"></div>

  <div class="jumbotron">
    <h2>Never plan again!</h2>
    <p class="lead">
      Coordinate with groups of friends.
      <br>
      See what everyone is doing.
      </p>
    <a class="btn btn-large btn-primary" href="/auth/facebook">Login With Facebook</a>
  </div>

  <div class="hr"></div>

  <div id="myCarousel" class="carousel slide"> 
    <div class="carousel-inner">
      <div class="active item">
        <div class="carContent">
          <h4>Facebook-Integrated</h4>
          <p>Login directly to Facebook and see all your events together in one place, whether created with htchr or Facebook!</p>
        </div>
      </div>

      <div class="item">
        <div class="carContent">
          <h4>Event Feed</h4>
          <p>See the new events you and your friends create instantly!</p> 
        </div>
      </div>

      <div class="item">
        <div class="carContent">
          <h4>Recommendations</h4>
          <p>Receive recommendation events based on your previous history</p>
        </div>
      </div>      

      <div class="item">
        <div class="carContent">
          <h4>Find Events</h4>
          <p>No more days of calling friends one by one! Instead, htchr makes it effortless to find similar events in your area</p>
        </div>
      </div>

      <div class="item">
        <div class="carContent">
          <h4>Planning Made Easy</h4>
          <p>Create invite lists in seconds, and make your meet-up private with the click of a button</p>
        </div>
      </div>
                           
    </div>

      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; htchr 237</p>
  </div>

</div> <!-- /container -->

<script src="javascripts/jquery.js"></script>
<script src="javascripts/bootstrap.js"></script> 

<script type="text/javascript">
  $(document).ready(function () {
      $('#myCarousel').carousel({
          interval: 3000
      });

      $('myCarousel').carousel('cycle');
  });
</script>

</body>
</html>