<!DOCTYPE html> 
<html> 
<head> 
  <title>Search</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="/stylesheets/htchr.css" />
  <link rel="stylesheet" href="/stylesheets/token-input-facebook.css" />  
  
  <!-- Scripts -->
  <script src="/javascripts/jquery-1.8.2.min.js"></script>
  <script src="/javascripts/jquery.mobile-1.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script type="text/javascript" src="/javascripts/moment.min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDG2T7EFLq_lT1Vq7TZ7uwPHNh6J-q2FOw&libraries=places&sensor=false"></script>
  <script type="text/javascript" src="/javascripts/htchr.js"></script>
  
</head> 
<body> 

<!-- New Event -->
<div id="newEventPage" data-role="page" id="searchPage">

  <div data-role="header">
    <h1>Event Search</h1>
  </div><!-- /header -->

  <div data-role="content">   
    <input id="searchbox" type="search" name="search" id="search-basic" value="" placeholder="Type an event name here." />
    <a href="#" data-role="button" id="search">Search</a><br/>
    <ul data-role="listview" id="searchResults"></ul>
  </div><!-- /content -->

  <div data-id="footNav" data-role="footer" data-position="fixed">        
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><a href="/events/feed" data-icon="home"  data-prefetch="true">Feed</a></li>
        <li><a href="/search" data-icon="search" class="ui-state-persist ui-button-active">Find</a></li>
        <li><a href="/events/new" data-icon="plus" data-prefetch="true">New Event</a></li>
        <li><a href="/users/self" data-prefetch='true' data-icon="star">My Profile</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>