<!DOCTYPE html> 
<html> 
<head> 
  <title>User</title> 
  <meta name="viewport" content="width=device-width, initial-scale=1"> 

  <!-- Stylesheets -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.2.0.min.css" />
  <link rel="stylesheet" href="/stylesheets/htchr.css" />
  <link rel="stylesheet" href="/stylesheets/token-input-facebook.css" />  

  <!-- Scripts -->
  <script src="/javascripts/jquery-1.8.2.min.js"></script>
  <script src="/javascripts/jquery.mobile-1.2.0.min.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.tokeninput.js"></script>
  <script type="text/javascript" src="/javascripts/jquery.blockui.js"></script>
  <script type="text/javascript" src="/javascripts/underscore-min.js"></script>
  <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDG2T7EFLq_lT1Vq7TZ7uwPHNh6J-q2FOw&libraries=places&sensor=false"></script>
  <script type="text/javascript" src="/javascripts/htchr.js"></script>

</head> 
<body> 

<!-- New Event -->
<div id="userPage" data-role="page">
    
  <div data-role="header">
    <h1>User Info.</h1>
  </div><!-- /header -->

  <div data-role="content">

    <div id="nameHead">
      <div id="userInfo"> 
        <h2>Hi, my name is <%= name %></h2>
      </div>
        <a id="logoutButton" href="/logout" rel="external" data-theme='b' data-role="button" data-mini='true' data-inline='true'>Logout</a>
    </div>
    <br/>

    <div data-role="fieldcontain" class="ui-hide-label">
        <input id="phoneEntry" type="tel" data-theme="b" value="" placeholder="Your Phone Number"/>
        <a href="#" data-role="button" id="phoneSubmit">Update</a><br/>
    </div>

    <div data-role="collapsible-set" data-theme="b" data-content-theme="b">
      <div data-role="collapsible">
        <h3 class="eventSubhead">I made</h3>
        <ul data-role="listview" data-inset="true" id="ownedEvents"> </ul>
      </div>

      <div data-role="collapsible">
        <h3 class="eventSubhead">I'm attending</h3>
        <ul data-role="listview" data-inset="true" id="attendEvents"> </ul>
      </div>     

      <div data-role="collapsible">
        <h3 class="eventSubhead">I might go to</h3>
        <ul data-role="listview" data-inset="true" id="maybeEvents"> </ul>
      </div>

      <div data-role="collapsible">
        <h3 class="eventSubhead">I don't know about</h3>
        <ul data-role="listview" data-inset="true" id="unrepliedEvents"> </ul>
      </div>

      <div data-role="collapsible">
        <h3 class="eventSubhead">I don't think I'm going to</h3>
        <ul data-role="listview" data-inset="true" id="declinedEvents"> </ul>
      </div>      


    </div>


  </div><!-- /content -->

  <div data-id="footNav" data-role="footer" data-position="fixed">        
    <div data-role="navbar" data-iconpos="top">
      <ul>
        <li><a href="/events/feed" data-icon="home" data-prefetch="true">Feed</a></li>
        <li><a href="/search" data-icon="search" data-prefetch='true'>Find</a></li>
        <li><a href="/events/new" data-icon="Plus" data-prefetch="true">New Event</a></li>
        <li><a href="/users/self" data-icon="star" class="ui-btn-active ui-state-persist">My Profile</a></li>
      </ul>
    </div><!-- /navbar -->
  </div><!-- /footer -->

</div><!-- /page -->

</body>
</html>